/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #f0f0f0; /* Light grey background */
    color: #000; /* Black text */
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

h1 {
    color: #ff0000; /* Red highlights */
    font-size: 50px;
    margin-bottom: 20px;
}

h3 {
    color: #ff0000; /* Red highlights */
    margin-bottom: 20px;
}

h4 {
    color: #cc0000; /* Darker red for subheadings */
    margin-bottom: 20px;
}

.card {
    background-color: #e0e0e0; /* White for card background */
    border: 1px solid #ff0000; /* Red border */
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #e0e0e0; /* Light grey for header */
    border-bottom: 1px solid #ff0000; /* Red border */
    padding: 10px 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
}
  
.dropdown-icon {
    display: inline-block;
    transition: transform 0.3s ease;
}
  
.card-header.expanded .dropdown-icon {
    transform: rotate(90deg); /* Down arrow */
  }

.card-link {
    color: #000000; /* Black links */
    text-decoration: none;
    font-weight: bold;
}

.card-body {
    background-color: #e0e0e0; /* Very light grey for body */
    color: #000; /* Black text */
    padding: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

a {
    color: #ff0000; /* Red links */
    text-decoration: none;
}

a:hover {
    color: #000; /* Black on hover */
    text-decoration: underline;
}

.text-center {
    text-align: center;
    margin-bottom: 20px;
}