 .u-section-1 {
  background-image: url("images/Untitled5-min.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 732px;
}

.u-section-1 .u-text-1 {
  font-family: "Doppio One";
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 0 0 370px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 456px;
  margin: 29px 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 126px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  border-style: solid;
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 126px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 30px 12px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 0 0 auto;
  padding: 20px 55px 20px 54px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 300;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 33px 0 60px auto;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 170px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 80.89% 37.93%;
    background-size: auto 130%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 60.05% 49.65%;
    background-size: auto 120%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 480px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 122px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 122px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 32px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 55.77% 57.86%;
    background-size: auto 110%;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 320px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  margin-top: 60px;
  margin-bottom: 54px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 194px;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 85px;
  width: 85px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 85px;
  width: 85px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 85px;
  width: 85px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 85px;
  width: 85px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 158px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 409px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 28px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 28px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 28px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1143px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 80px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 16.5px));
  min-height: 880px;
  grid-gap: 33px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-text-2 {
  font-size: 4.5rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 1px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-text-5 {
  font-size: 4.5rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 1px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px;
}

.u-section-3 .u-text-8 {
  font-size: 4.5rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 1px 0 0;
}

.u-section-3 .u-text-10 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-list-item-4 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px;
}

.u-section-3 .u-text-11 {
  font-size: 4.5rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 1px 0 0;
}

.u-section-3 .u-text-13 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 727px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-11 {
    font-size: 3rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1254px;
}

.u-section-4 .u-shape-1 {
  width: 237px;
  height: 237px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0 0;
}

.u-section-4 .u-shape-2 {
  width: 228px;
  height: 228px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -532px 67px 0 auto;
}

.u-section-4 .u-image-1 {
  height: 603px;
  width: 864px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -121px auto 0 110px;
}

.u-section-4 .u-group-1 {
  width: 785px;
  min-height: 516px;
  height: auto;
  margin: -112px 0 -235px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 30px auto 0 0;
  padding: 20px 53px;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1232px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -510px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 550px;
    width: 773px;
    margin-top: -143px;
    margin-left: 76px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -59px;
    margin-bottom: -213px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1212px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -475px;
  }

  .u-section-4 .u-image-1 {
    height: 427px;
    width: 553px;
    margin-top: -128px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    min-height: 606px;
    width: 578px;
    margin-top: -60px;
    margin-bottom: -178px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1246px;
  }

  .u-section-4 .u-shape-2 {
    width: 205px;
    height: 205px;
    margin-top: -452px;
  }

  .u-section-4 .u-image-1 {
    height: 375px;
    width: 424px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 48px;
    margin-bottom: -155px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-4 .u-shape-1 {
    width: 163px;
    height: 163px;
  }

  .u-section-4 .u-shape-2 {
    width: 135px;
    height: 135px;
    margin-top: -275px;
  }

  .u-section-4 .u-image-1 {
    height: 232px;
    width: 262px;
    margin-top: -85px;
  }

  .u-section-4 .u-group-1 {
    min-height: 486px;
    margin-top: 42px;
    margin-bottom: -52px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 604px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  width: 659px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 380px;
  grid-gap: 0px;
}

.u-section-5 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-5 .u-text-3 {
  margin: 0;
}

.u-section-5 .u-icon-1 {
  margin-right: 5px;
  font-size: 1.3889em;
}

.u-section-5 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-text-4 {
  margin: 0;
}

.u-section-5 .u-icon-2 {
  margin-right: 5px;
  font-size: 1.3889em;
}

.u-section-5 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-5 .u-text-5 {
  margin: 0;
}

.u-section-5 .u-icon-3 {
  margin-right: 5px;
  font-size: 1.3889em;
}

.u-section-5 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-5 .u-text-6 {
  margin: 0;
}

.u-section-5 .u-icon-4 {
  margin-right: 5px;
  font-size: 1.3889em;
}

.u-section-5 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-5 .u-text-7 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-5 .u-icon-5 {
  margin-right: 5px;
  font-size: 1.3889em;
}

.u-section-5 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-5 .u-text-8 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-5 .u-icon-6 {
  margin-right: 5px;
  font-size: 1.3889em;
}

.u-section-5 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-7 {
  padding: 20px 30px;
}

.u-section-5 .u-text-9 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-5 .u-icon-7 {
  margin-right: 5px;
  font-size: 1.3889em;
}

.u-section-5 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-8 {
  padding: 20px 30px;
}

.u-section-5 .u-text-10 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-5 .u-icon-8 {
  margin-right: 5px;
  font-size: 1.3889em;
}

.u-section-5 .u-list-item-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-9 {
  padding: 20px 30px;
}

.u-section-5 .u-text-11 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-5 .u-icon-9 {
  margin-right: 5px;
  font-size: 1.3889em;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 70px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 70px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 313px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 10px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 10px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 10px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 10px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 10px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 10px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 10px;
  }

  .u-section-5 .u-text-10 {
    margin-top: 10px;
  }

  .u-section-5 .u-text-11 {
    margin-top: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 813px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 42px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 599px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: 0;
  }

  .u-section-5 .u-text-5 {
    margin-top: 0;
  }

  .u-section-5 .u-text-6 {
    margin-top: 0;
  }

  .u-section-5 .u-text-7 {
    margin-top: 0;
  }

  .u-section-5 .u-text-8 {
    margin-top: 0;
  }

  .u-section-5 .u-text-9 {
    margin-top: 0;
  }

  .u-section-5 .u-text-10 {
    margin-top: 0;
  }

  .u-section-5 .u-text-11 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
  }

  .u-section-5 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
  }

  .u-section-5 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
  }

  .u-section-5 .u-container-layout-7 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
  }

  .u-section-5 .u-container-layout-8 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-10 {
    width: auto;
  }

  .u-section-5 .u-container-layout-9 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-11 {
    width: auto;
  }
} .u-section-6 {
  background-image: none;
  min-height: 811px;
}

.u-section-6 .u-group-1 {
  min-height: 416px;
  height: auto;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 90px 125px 0;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 1140px;
  margin: -112px auto 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 437px;
  grid-auto-columns: calc(33.3333% - 20px);
  grid-gap: 30px;
}

.u-section-6 .u-list-item-1 {
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-6 .u-image-1 {
  height: 258px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-3 {
  margin: 30px auto 0;
}

.u-section-6 .u-text-4 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-6 .u-list-item-2 {
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-6 .u-image-2 {
  height: 258px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-6 .u-text-6 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-6 .u-list-item-3 {
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-6 .u-image-3 {
  height: 258px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-6 .u-text-8 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-6 .u-list-item-4 {
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-6 .u-image-4 {
  height: 258px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-9 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-6 .u-text-10 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-6 .u-list-item-5 {
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-6 {
  padding: 0 0 30px;
}

.u-section-6 .u-image-5 {
  height: 258px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-11 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-6 .u-text-12 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  top: 279px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 279px;
  right: 0;
}

.u-section-6 .u-text-13 {
  text-align: left;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 60px;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 70px;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
  }

  .u-section-6 .u-image-1 {
    height: 213px;
  }

  .u-section-6 .u-image-2 {
    height: 213px;
  }

  .u-section-6 .u-image-3 {
    height: 213px;
  }

  .u-section-6 .u-image-4 {
    height: 213px;
  }

  .u-section-6 .u-image-5 {
    height: 213px;
  }

  .u-section-6 .u-gallery-nav-1 {
    top: 233px;
  }

  .u-section-6 .u-gallery-nav-2 {
    top: 233px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    grid-auto-columns: calc(50% - 15px);
  }

  .u-section-6 .u-image-1 {
    height: 245px;
  }

  .u-section-6 .u-image-2 {
    height: 245px;
  }

  .u-section-6 .u-image-3 {
    height: 245px;
  }

  .u-section-6 .u-image-4 {
    height: 245px;
  }

  .u-section-6 .u-image-5 {
    height: 245px;
  }

  .u-section-6 .u-gallery-nav-1 {
    top: 273px;
  }

  .u-section-6 .u-gallery-nav-2 {
    top: 273px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 839px;
  }

  .u-section-6 .u-group-1 {
    min-height: 420px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 55px;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
    margin-top: -100px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-6 .u-image-1 {
    height: 368px;
  }

  .u-section-6 .u-image-2 {
    height: 368px;
  }

  .u-section-6 .u-image-3 {
    height: 368px;
  }

  .u-section-6 .u-image-4 {
    height: 368px;
  }

  .u-section-6 .u-image-5 {
    height: 368px;
  }

  .u-section-6 .u-gallery-nav-1 {
    top: 385px;
  }

  .u-section-6 .u-gallery-nav-2 {
    top: 385px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1005px;
  }

  .u-section-6 .u-group-1 {
    min-height: 511px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 60px;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-image-1 {
    height: 232px;
  }

  .u-section-6 .u-image-2 {
    height: 232px;
  }

  .u-section-6 .u-image-3 {
    height: 232px;
  }

  .u-section-6 .u-image-4 {
    height: 232px;
  }

  .u-section-6 .u-image-5 {
    height: 232px;
  }

  .u-section-6 .u-text-13 {
    width: auto;
    margin-bottom: -25px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 857px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 723px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 3rem;
  margin: 6px 0 0;
}

.u-section-7 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 548px;
  margin-left: auto;
  grid-gap: 0px;
}

.u-section-7 .u-list-item-1 {
  margin-left: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px 20px 10px 0;
}

.u-section-7 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-3 {
  margin: 26px 0 0;
}

.u-section-7 .u-list-item-2 {
  margin-left: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-3 {
  padding: 10px 20px 10px 0;
}

.u-section-7 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-5 {
  margin: 26px 0 0;
}

.u-section-7 .u-list-item-3 {
  margin-left: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-4 {
  padding: 10px 20px 10px 0;
}

.u-section-7 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-7 {
  margin: 26px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 669px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-7 .u-gallery-1 {
  height: 542px;
  width: 467px;
  margin: 0 auto;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 20px;
}

.u-section-7 .u-back-image-1 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-back-image-4 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-text-8 {
  font-style: normal;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 38px 68px 0 52px;
}

.u-section-7 .u-btn-1 {
  margin-left: auto;
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 552px;
  }

  .u-section-7 .u-text-8 {
    margin-right: 18px;
    margin-left: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 650px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 455px;
  }

  .u-section-7 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 906px;
  }

  .u-section-7 .u-gallery-1 {
    height: 732px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-8 {
    margin-right: 20px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 850px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-left: 10px;
  }

  .u-section-7 .u-list-1 {
    width: 530px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 652px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1732px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-7 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
  }

  .u-section-7 .u-list-1 {
    width: 340px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1712px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 825px;
}

.u-section-8 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-8 .u-list-1 {
  width: 1112px;
  margin: 60px auto;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 588px;
  grid-gap: 30px;
}

.u-section-8 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  width: 110px;
  height: 110px;
  background-image: url("images/pexels-photo-4576085.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-2 {
  font-style: italic;
  margin: -110px 0 0 147px;
}

.u-section-8 .u-text-3 {
  margin: 20px auto 0 147px;
}

.u-section-8 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-image-2 {
  width: 110px;
  height: 110px;
  background-image: url("images/pexels-photo-5141074.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-4 {
  font-style: italic;
  margin: -110px 0 0 147px;
}

.u-section-8 .u-text-5 {
  margin: 20px auto 0 147px;
}

.u-section-8 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-image-3 {
  width: 110px;
  height: 110px;
  background-image: url("images/pexels-photo-9821204.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-6 {
  font-style: italic;
  margin: -110px 0 0 147px;
}

.u-section-8 .u-text-7 {
  margin: 20px auto 0 147px;
}

.u-section-8 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-image-4 {
  width: 110px;
  height: 110px;
  background-image: url("images/pexels-photo-2989724.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-8 {
  font-style: italic;
  margin: -110px 0 0 147px;
}

.u-section-8 .u-text-9 {
  margin: 20px auto 0 147px;
}

.u-section-8 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px;
}

.u-section-8 .u-image-5 {
  width: 110px;
  height: 110px;
  background-image: url("images/pexels-photo-9787579.jpeg");
  background-position: 50% 26.53%;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-10 {
  font-style: italic;
  margin: -110px 0 0 147px;
}

.u-section-8 .u-text-11 {
  margin: 20px auto 0 147px;
}

.u-section-8 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-6 {
  padding: 30px;
}

.u-section-8 .u-image-6 {
  width: 110px;
  height: 110px;
  background-image: url("images/pexels-photo-9867161.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-12 {
  font-style: italic;
  margin: -110px 0 0 147px;
}

.u-section-8 .u-text-13 {
  margin: 20px auto 0 147px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-list-1 {
    width: 940px;
    height: auto;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 497px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
  }

  .u-section-8 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-text-5 {
    margin-left: 0;
  }

  .u-section-8 .u-text-6 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-text-7 {
    margin-left: 0;
  }

  .u-section-8 .u-text-8 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-text-9 {
    margin-left: 0;
  }

  .u-section-8 .u-text-10 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-text-11 {
    margin-left: 0;
  }

  .u-section-8 .u-text-12 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-text-13 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-list-1 {
    width: 720px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-8 .u-text-2 {
    margin-top: -110px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 147px;
  }

  .u-section-8 .u-text-4 {
    margin-top: -110px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 147px;
  }

  .u-section-8 .u-text-6 {
    margin-top: -110px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-8 .u-text-7 {
    margin-left: 147px;
  }

  .u-section-8 .u-text-8 {
    margin-top: -110px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-8 .u-text-9 {
    margin-left: 147px;
  }

  .u-section-8 .u-text-10 {
    margin-top: -110px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-8 .u-text-11 {
    margin-left: 147px;
  }

  .u-section-8 .u-text-12 {
    margin-top: -110px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-8 .u-text-13 {
    margin-left: 147px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-list-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-8 .u-list-1 {
    width: 340px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 555px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 275px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  margin: 0;
}

.u-section-9 .u-text-2 {
  font-size: 0.875rem;
  font-style: normal;
  margin: 30px 0 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 275px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-text-3 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-9 .u-text-4 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-9 .u-form-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-9 .u-list-1 {
  margin-top: 37px;
  margin-bottom: 60px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 118px;
  grid-gap: 0px;
}

.u-section-9 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-3 {
  padding: 10px 10px 10px 0;
}

.u-section-9 .u-icon-1 {
  width: 33px;
  height: 33px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-9 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -33px 0 0 60px;
}

.u-section-9 .u-text-6 {
  margin: 11px 0 0 60px;
}

.u-section-9 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-4 {
  padding: 10px 10px 10px 0;
}

.u-section-9 .u-icon-2 {
  width: 33px;
  height: 33px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-9 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -33px 0 0 60px;
}

.u-section-9 .u-text-8 {
  margin: 11px 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 227px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 97px;
  }

  .u-section-9 .u-text-5 {
    width: auto;
    margin-left: 70px;
  }

  .u-section-9 .u-text-6 {
    width: auto;
    margin-left: 70px;
  }

  .u-section-9 .u-text-7 {
    width: auto;
    margin-left: 70px;
  }

  .u-section-9 .u-text-8 {
    width: auto;
    margin-left: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-text-5 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-9 .u-text-6 {
    margin-left: 0;
  }

  .u-section-9 .u-text-7 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-9 .u-text-8 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}